body.qh-local {
  background-color: rgb(69, 33, 41);
  color: white;
}

.App {
  text-align: center;
  color: white;
}

/** 1280px and smaller */
@media screen and (max-width: 1280px) {
  .App {
    font-size: 0.8em;
  }
}

/** 1281 to 1920 */
@media screen and (min-width: 1281) and (max-width: 1920px) {
  .App {
    font-size: 1em;
  }
}

/** 1921 to 2560 */
@media screen and (min-width: 1921px) {
  .App {
    font-size: 1.35em;
  }
}

@media screen and (min-width: 2561px) {
  .App {
    font-size: 1.5em;
  }
}

.app-title {
  background-image: url(https://hh.hh-content.com/pictures/design/symbol_shadow.svg);
  background-position-x: left;
  background-position-y: center;
  background-repeat: no-repeat;
  padding-left: 60px;

  cursor: pointer;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

.data-input {
  width: 60%;
  height: 200px;
}

.blessings-summary {
  text-align: left;
  display: flex;
  flex-flow: row wrap;
  row-gap: 5px;
  column-gap: 5px;
  justify-content: center;
  padding-left: 15px;
  padding-right: 15px;
}

.blessings-summary > div {
  display: flex;
  flex-flow: column;
  row-gap: 5px;
  padding: 15px;
}

.missing-girls-blessing > .owned {
  color: #c93e3e;
  font-weight: bold;
}

.toggle-filter {
  cursor: pointer;
}

.filter-enabled {
  filter: drop-shadow(0px 0px 3px white);
  text-decoration: underline;
  /* background-color: deepskyblue;
  border-radius: 5px;
  padding: 3px; */
}

.rare-blessing > .total {
  color: #c93e3e;
  font-weight: bold;
}

.details-content > p,
.details-content > .details-section > p {
  text-align: left;
}

.details-content > p > .grade {
  justify-content: left;
}

.section-switch {
  display: flex;
  justify-content: left;
  gap: 30px;
  margin-bottom: 8px;
}

.section-switch > span {
  cursor: pointer;
  color: #d08467;
  text-shadow: 1px 1px 0 #000, -1px 1px 0 #000, -1px -1px 0 #000,
    1px -1px 0 #000;
}

.section-switch > span.active {
  cursor: initial;
  color: #ffb827;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000, -2px -2px 5px rgba(255, 159, 0, 0.4),
    2px -2px 5px rgba(255, 159, 0, 0.4), -2px 2px 5px rgba(255, 159, 0, 0.4),
    2px 2px 5px rgba(255, 159, 0, 0.4), 0 0 10px rgba(255, 159, 0, 0.4);
}

.general-attributes {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.pose-and-stats {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.qh_description > .details {
  width: 55%;
  padding-right: 15px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.details-header {
  margin-bottom: 8px;
  height: 3em;
}

.details-content {
  overflow: auto;
}

.App a {
  color: white;
}

.blessings-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  row-gap: 10px;
}

.blessing-item {
  background-color: #c93e3e;
  border-radius: 10px;
  border: 1px solid transparent;
  padding: 10px;
  margin: 10px;
}

.blessing-item > h4,
.blessing-item > p {
  padding: 0;
  margin: 0;
  cursor: pointer;
}

div.pop {
  display: flex;
  justify-content: center;
}
ul.pop {
  text-align: left;
}
li.ok {
  color: green;
}
li.nok {
  color: red;
}

.App input,
.App button {
  padding: 5px;
}

.action {
  cursor: pointer;
}
