body.qh-local {
  color: white;
}
#hh_hentai body.qh-local {
  background-color: rgb(69, 33, 41);
}
#hh_comix body.qh-local {
  background-color: rgb(15, 30, 60);
}

.QuickHarem {
  text-align: center;
  color: white;
}

@media screen and (max-width: 960px) {
  .QuickHarem,
  #popup-root {
    font-size: 0.6em;
  }
}

/** 1280px and smaller */
@media screen and (min-width: 961px) and (max-width: 1280px) {
  .QuickHarem,
  #popup-root {
    font-size: 0.8em;
  }
}

/** 1281 to 1920 */
@media screen and (min-width: 1281px) and (max-width: 1920px) {
  .QuickHarem,
  #popup-root {
    font-size: 1em;
  }
}

/** 1921 to 2560 */
@media screen and (min-width: 1921px) {
  .QuickHarem,
  #popup-root {
    font-size: 1.35em;
  }
}

@media screen and (min-width: 2561px) {
  .QuickHarem,
  #popup-root {
    font-size: 1.5em;
  }
}

.app-title {
  background-position-x: left;
  background-position-y: center;
  background-repeat: no-repeat;
  padding-left: 60px;

  cursor: pointer;
}
#hh_hentai .app-title {
  background-image: url(https://hh.hh-content.com/pictures/design/symbol_shadow.svg);
}
#hh_comix .app-title {
  background-image: url(https://ch.hh-content.com/pictures/design/symbol_shadow.svg);
}

.data-input {
  width: 60%;
  height: 200px;
}

.blessings-summary {
  text-align: left;
  display: flex;
  flex-flow: row wrap;
  row-gap: 5px;
  column-gap: 5px;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

.blessings-summary > div {
  display: flex;
  flex-flow: column;
  row-gap: 0.25em;
  padding: 1rem;
}

.blessings-summary > div > h2 {
  font-size: 1.2em;
  color: lightgrey;
}

.missing-girls-blessing > span > .owned {
  color: #c93e3e;
  font-weight: bold;
}

.toggle-filter {
  cursor: pointer;
}

.filter-enabled {
  filter: drop-shadow(0px 0px 3px white);
  text-decoration: underline;
}

.rare-blessing > span > .total {
  color: #c93e3e;
  font-weight: bold;
}

.details-content > p,
.details-content > .details-section > p,
.details-content > .details-section > div {
  text-align: left;
  margin-block: 0.8em;
}

.icon-link > .qh-tooltip-wrapper > img {
  background-image: linear-gradient(to top, #008ed5 0, #05719c 100%);
  border-radius: 100%;
  background-origin: content-box, border-box;
  border: none;
  box-shadow: 0 3px 0 rgba(13, 22, 25, 0.35), inset 0 3px 0 #6df0ff;
  padding: 2px;
}

.icon-link:active > .qh-tooltip-wrapper > img {
  box-shadow: none;
}

.details-content > p > .grade {
  justify-content: left;
}

.upgrade-link {
  display: flex;
  flex-direction: row;
  column-gap: 1em;
}

.section-switch {
  display: flex;
  justify-content: left;
  gap: 30px;
  margin-bottom: 8px;
}

.section-switch > span {
  cursor: pointer;
  color: #d08467;
  text-shadow: 1px 1px 0 #000, -1px 1px 0 #000, -1px -1px 0 #000,
    1px -1px 0 #000;
}

.section-switch > span.active {
  cursor: initial;
  color: #ffb827;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000, -2px -2px 5px rgba(255, 159, 0, 0.4),
    2px -2px 5px rgba(255, 159, 0, 0.4), -2px 2px 5px rgba(255, 159, 0, 0.4),
    2px 2px 5px rgba(255, 159, 0, 0.4), 0 0 10px rgba(255, 159, 0, 0.4);
}

.general-attributes {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.pose-and-stats {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.qh_description > .details {
  width: 55%;
  padding-right: 15px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.details-header {
  margin-bottom: 8px;
  height: 3em;
}

.details-content {
  overflow: auto;
}

.QuickHarem a {
  color: white;
}

.blessings-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  row-gap: 10px;
}

.blessing-item {
  background-color: #c93e3e;
  border-radius: 10px;
  border: 1px solid transparent;
  padding: 10px;
  margin: 10px;
}

.blessing-item > h4,
.blessing-item > p {
  padding: 0;
  margin: 0;
  cursor: pointer;
}

div.pop {
  display: flex;
  justify-content: center;
}
ul.pop {
  text-align: left;
}
li.ok {
  color: green;
}
li.nok {
  color: red;
}

.QuickHarem input,
.QuickHarem button,
#popup-root input,
#popup-root button {
  padding-inline: 0.5em;
  padding-block: 0.25em;
}
.QuickHarem button.icon-action,
#popup-root button.icon-action {
  padding: 0.25em;
}

.action {
  cursor: pointer;
}

#popup-root a {
  color: white;
}
