.elementIcon {
  width: 1.5em;
}

.gems-count-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.gems-count-details > span {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5ch;
}

.upgrade-girl {
  background-image: url(https://hh2.hh-content.com/design_v2/affstar_upgrade.png);
  background-position: center;
  background-size: cover;

  width: 35px;
  height: 35px;
}

.qh-tooltip {
  font-size: 2em; /* We have lots of space in Tooltips; use large fonts */
  text-align: left;
}

/** Helper class to fill a tooltip. The element will cover the 
entire surface of its parent, to trigger the tooltip, without
requiring actual content. */
.filler {
  width: 100%;
  height: 100%;
}

.stats-description,
.stats-description > .qh-tooltip-wrapper > .stat-icon {
  width: 3em;
  height: 3em;
}

.stat-icon {
  width: 1em;
  height: 1em;
  display: inline-block;
  background-size: cover;
  vertical-align: top;
}

.stat-icon.blessed {
  filter: drop-shadow(3px 3px 5px darkgreen);
}

.stat-icon.class_0 {
  background-image: url(https://hh2.hh-content.com/pictures/misc/items_icons/1.png);
}
.stat-icon.class_1 {
  background-image: url(https://hh2.hh-content.com/pictures/misc/items_icons/2.png);
}
.stat-icon.class_2 {
  background-image: url(https://hh2.hh-content.com/pictures/misc/items_icons/3.png);
}

.pose-icon {
  background-size: cover;
  width: 3.5em;
  height: 3.5em;
}

.pose-icon.doggie {
  background-image: url(https://hh2.hh-content.com/pictures/design/battle_positions/1.png);
}

.pose-icon.dolphin {
  background-image: url(https://hh2.hh-content.com/pictures/design/battle_positions/2.png);
}
.pose-icon.missionary {
  background-image: url(https://hh2.hh-content.com/pictures/design/battle_positions/3.png);
}
.pose-icon.sodomy {
  background-image: url(https://hh2.hh-content.com/pictures/design/battle_positions/4.png);
}
.pose-icon.sixnine {
  background-image: url(https://hh2.hh-content.com/pictures/design/battle_positions/5.png);
}
.pose-icon.jackhammer {
  background-image: url(https://hh2.hh-content.com/pictures/design/battle_positions/6.png);
}
.pose-icon.nosedive {
  background-image: url(https://hh2.hh-content.com/pictures/design/battle_positions/7.png);
}
.pose-icon.column {
  background-image: url(https://hh2.hh-content.com/pictures/design/battle_positions/8.png);
}
.pose-icon.indian {
  background-image: url(https://hh2.hh-content.com/pictures/design/battle_positions/9.png);
}
.pose-icon.suspended {
  background-image: url(https://hh2.hh-content.com/pictures/design/battle_positions/10.png);
}
.pose-icon.splitting {
  background-image: url(https://hh2.hh-content.com/pictures/design/battle_positions/11.png);
}
.pose-icon.bridge {
  background-image: url(https://hh2.hh-content.com/pictures/design/battle_positions/12.png);
}

.close-popup {
  cursor: pointer;
  background-image: url(https://hh2.hh-content.com/clubs/ic_xCross.png);
  background-size: cover;
  width: 2.5em;
  height: 2.5em;
}

.element {
  width: 2em;
  height: 2em;
  /** Make sure the icon remains visible, even when the UI is cramped */
  min-width: 1.2em;
  min-height: 1.2em;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.element.dark {
  background-image: url('https://hh.hh-content.com/pictures/girls_elements/Dominatrix.png');
}
.element.white {
  background-image: url('https://hh.hh-content.com/pictures/girls_elements/Submissive.png');
}
.element.purple {
  background-image: url('https://hh.hh-content.com/pictures/girls_elements/Voyeurs.png');
}
.element.red {
  background-image: url('https://hh.hh-content.com/pictures/girls_elements/Eccentric.png');
}
.element.blue {
  background-image: url('https://hh.hh-content.com/pictures/girls_elements/Sensual.png');
}
.element.green {
  background-image: url('https://hh.hh-content.com/pictures/girls_elements/Exhibitionist.png');
}
.element.orange {
  background-image: url('https://hh.hh-content.com/pictures/girls_elements/Physical.png');
}
.element.yellow {
  background-image: url('https://hh.hh-content.com/pictures/girls_elements/Playful.png');
}
