.elementIcon {
  width: 1.5em;
}

.gems-count-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.gems-count-details > hr {
  align-self: stretch;
  margin: 0; /** Margin not compatible with Flex stretch */
  color: rgb(209, 125, 22);
}

.gems-count-details > span {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5ch;
}

.upgrade-girl {
  background-image: url(https://hh2.hh-content.com/design_v2/affstar_upgrade.png);
  background-position: center;
  background-size: cover;

  width: 35px;
  height: 35px;
}

.qh-tooltip {
  font-size: 2em; /* We have lots of space in Tooltips; use large fonts */
  text-align: left;
}

/** Helper class to fill a tooltip. The element will cover the 
entire surface of its parent, to trigger the tooltip, without
requiring actual content. */
.filler {
  width: 100%;
  height: 100%;
}

.stats-description,
.stats-description > .qh-tooltip-wrapper > .stat-icon {
  width: 3em;
  height: 3em;
}

.stat-icon {
  width: 1em;
  height: 1em;
  display: inline-block;
  background-size: cover;
  vertical-align: top;
}

.stat-icon.blessed {
  filter: drop-shadow(3px 3px 5px darkgreen);
}

.stat-icon.class_0 {
  background-image: url(https://hh2.hh-content.com/pictures/misc/items_icons/1.png);
}
.stat-icon.class_1 {
  background-image: url(https://hh2.hh-content.com/pictures/misc/items_icons/2.png);
}
.stat-icon.class_2 {
  background-image: url(https://hh2.hh-content.com/pictures/misc/items_icons/3.png);
}

.pose-icon {
  background-size: cover;
  width: 3.5em;
  height: 3.5em;
}

.pose-icon.doggie {
  background-image: url(https://hh2.hh-content.com/pictures/design/battle_positions/1.png);
}

.pose-icon.dolphin {
  background-image: url(https://hh2.hh-content.com/pictures/design/battle_positions/2.png);
}
.pose-icon.missionary {
  background-image: url(https://hh2.hh-content.com/pictures/design/battle_positions/3.png);
}
.pose-icon.sodomy {
  background-image: url(https://hh2.hh-content.com/pictures/design/battle_positions/4.png);
}
.pose-icon.sixnine {
  background-image: url(https://hh2.hh-content.com/pictures/design/battle_positions/5.png);
}
.pose-icon.jackhammer {
  background-image: url(https://hh2.hh-content.com/pictures/design/battle_positions/6.png);
}
.pose-icon.nosedive {
  background-image: url(https://hh2.hh-content.com/pictures/design/battle_positions/7.png);
}
.pose-icon.column {
  background-image: url(https://hh2.hh-content.com/pictures/design/battle_positions/8.png);
}
.pose-icon.indian {
  background-image: url(https://hh2.hh-content.com/pictures/design/battle_positions/9.png);
}
.pose-icon.suspended {
  background-image: url(https://hh2.hh-content.com/pictures/design/battle_positions/10.png);
}
.pose-icon.splitting {
  background-image: url(https://hh2.hh-content.com/pictures/design/battle_positions/11.png);
}
.pose-icon.bridge {
  background-image: url(https://hh2.hh-content.com/pictures/design/battle_positions/12.png);
}

.close-popup {
  cursor: pointer;
  background-image: url(https://hh2.hh-content.com/clubs/ic_xCross.png);
  background-size: cover;
  width: 2.5em;
  height: 2.5em;
}

.element {
  width: 2em;
  height: 2em;
  /** Make sure the icon remains visible, even when the UI is cramped */
  min-width: 1.2em;
  min-height: 1.2em;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.element.dark {
  background-image: url('https://hh.hh-content.com/pictures/girls_elements/Dominatrix.png');
}
.element.white {
  background-image: url('https://hh.hh-content.com/pictures/girls_elements/Submissive.png');
}
.element.purple {
  background-image: url('https://hh.hh-content.com/pictures/girls_elements/Voyeurs.png');
}
.element.red {
  background-image: url('https://hh.hh-content.com/pictures/girls_elements/Eccentric.png');
}
.element.blue {
  background-image: url('https://hh.hh-content.com/pictures/girls_elements/Sensual.png');
}
.element.green {
  background-image: url('https://hh.hh-content.com/pictures/girls_elements/Exhibitionist.png');
}
.element.orange {
  background-image: url('https://hh.hh-content.com/pictures/girls_elements/Physical.png');
}
.element.yellow {
  background-image: url('https://hh.hh-content.com/pictures/girls_elements/Playful.png');
}

.tile img.tileImg {
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 0 5px 1px rgba(52, 0, 15, 0.75),
    inset 0 0 8px rgba(55, 30, 103, 0.4);

  border: var(--border-width) solid white;
  border-radius: 10px;

  width: var(--image-size);
  height: var(--image-size);
}

.tile.starting img.tileImg,
.tile.common img.tileImg {
  background-color: #8d8e9f;
}

.tile.rare img.tileImg {
  background-color: #23b56b;
}

.tile.epic img.tileImg {
  background-color: #ffb244;
}

.tile.legendary img.tileImg {
  background-image: url(https://hh2.hh-content.com/legendary.png);
  background-color: #8e36a9;
}

.tile.mythic img.tileImg {
  background-image: radial-gradient(
    closest-side at 50% 50%,
    #f5a866 0,
    #ec0039 51%,
    #9e0e27 100%
  );
  background-color: #ec0039;
}

.tile.selected {
  background-color: #61dafb;
}

.tile:hover {
  background-color: pink;
}

.tile {
  padding: 10px 10px 0px 10px;
  border-radius: 10px;
}

.progress-bar {
  background-color: black;
  border: 1px solid white;
  position: relative;
  min-height: 1.2em;
  width: 14rem;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap: 0px;
  padding: 0px;

  /**
  * Raw track: current state, always reflects the current value (Not animated, or very quickly animated)
  * Main track: animated overlay on the raw track. Due to animation, may not represent the accurate value. 
  *   Partially transparent, so it doesn't hide the raw track when animating to a smaller size.
  * Extra track: estimated state after applying the selected item. Optional. Animated.
  */

  --main-track-color: rgba(100, 149, 237, 0.6);
  --extra-track-color: #23b56b;
  --raw-track-color: rgb(38, 88, 181);
  /* --raw-track-color-extra-full: rgb(38, 88, 181); */
  --raw-track-color-extra-full: rgb(209, 125, 22);

  --main-track-color-full: rgba(100, 149, 237, 0.6);
  --main-track-color-extra-full: rgba(255, 140, 0, 0.6);
  /* --main-track-color-extra-full: rgba(100, 149, 237, 0.6); */
  --extra-track-color-extra-full: rgba(255, 140, 0, 0.6);

  /** Animation speeds. Raw track should be fast to accurately represent the current value;
   *  other animations may be slower.
   */
  --raw-track-speed: 0.15s;
  --track-speed: 0.5s;

  --track-radius: 6px;

  border-radius: calc(var(--track-radius) + 1px);
}

.progress-bar.full {
  --main-track-color: var(--main-track-color-full);
}

.progress-bar.extra-full {
  --main-track-color: var(--main-track-color-extra-full);
  --raw-track-color: var(--raw-track-color-extra-full);

  --extra-track-color: var(--extra-track-color-extra-full);
}

.progress-bar > .main-track {
  position: absolute;
  height: 100%;
  background: var(--main-track-color);
  border-radius: var(--track-radius) 0 0 var(--track-radius);
}

.progress-bar.full > .main-track,
.progress-bar.full > .raw-track {
  border-radius: var(--track-radius);
}

.progress-bar > .raw-track {
  flex-shrink: 0; /* Never shrink, even if the extra track temporarily overflows due to animation */
  background: var(--raw-track-color);
  border-radius: var(--track-radius) 0 0 var(--track-radius);
  /* Very quick animation */
  transition: width var(--raw-track-speed) linear;
}
.progress-bar > .main-track,
.progress-bar > .extra-track {
  transition: width var(--track-speed) ease-in;
}

.progress-bar > .extra-track {
  background: var(--extra-track-color);
  border-radius: 0 var(--track-radius) var(--track-radius) 0;
}

.progress-bar > .track-label {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}
