.hh-action-button {
  border: 1px solid #ffa23e;
  background: linear-gradient(
    to bottom,
    rgba(60, 60, 60, 0.7) 0,
    rgba(10, 10, 10, 0.9) 100%
  );
  /* background-color: rgba(0, 0, 0, 0.3); */
  border-radius: 0.25em;
  box-shadow: 0 2px 0 #c61f52, 0 0 13px rgba(159, 7, 58, 0.6),
    0 0 13px rgba(159, 7, 58, 0.95);
  color: white;

  outline: none;

  cursor: pointer;

  font-size: 0.8em;
}

.hh-action-button.active {
  background: rgba(60, 60, 60, 0.7);
}

.hh-action-button:hover {
  border: 1px solid #edb273;
}

.hh-action-button:active {
  border: 1px solid #f4c99b;
}

.hh-action-button:disabled,
.hh-action-button[disabled] {
  border: 1px solid #ffa23e;
  color: grey;
  box-shadow: none;
  background: none; /* Disable original game rule */
  background-color: rgba(0, 0, 0, 0.3);

  cursor: initial;
}

input.hh-text-input {
  border: 1px solid #ffa23e;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  box-shadow: 0 2px 0 #c61f52, 0 0 13px rgba(159, 7, 58, 0.6),
    0 0 13px rgba(159, 7, 58, 0.95);
  color: white;

  outline: none;
}

input.hh-text-input.number {
  width: 7ch;
}

button.toggle.pressed {
  background-image: linear-gradient(to bottom, #ffa23e 0, #c41b53 100%);
}

/**
* For filters: the button is checked, but the filter is inactive
*/
.inactive > button.toggle.pressed {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.3) 0,
    rgba(88, 88, 88, 0.3) 100%
  );
  color: darkgray;
}

.hh-game-action {
  box-shadow: 0 3px 0 rgba(23, 33, 7, 0.6), inset 0 3px 0 #95ed3f;
  border: 1px solid #000;
  background-image: linear-gradient(to top, #619f00 0, #570 100%);
  color: white;
  border-radius: 15px;
  cursor: pointer;
}

.hh-game-action:active {
  outline: 0;
  box-shadow: unset;
  /* transform: translateY(-1px); */
  transition: box-shadow 90ms ease-in-out;
}
