#quick-harem-wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3; /* Content is at z-index 2; Popups and such appear at index 4 and above */
  pointer-events: none; /* The wrapper covers the entire page; make sure it doesn't intercept mouse events */
  display: flex;
  flex-direction: column;
  overflow: hidden; /* Hide sliding panels */
}

#quick-harem-wrapper > .QuickHarem {
  pointer-events: initial; /* The parent makes use ignore mouse-events. We need to explicitly handle them here */
}

.QuickHarem.game-extension {
  width: calc(100% - 1em);
  height: calc(100% - 6em);
  /** Leave space on top to view energy and stuff. */
  margin: 5.5em auto 0 auto;
  padding: 0px;
  border-radius: 20px;
  /* overflow: auto; */
  box-shadow: 0px 0px 7px black;

  display: flex;
  flex-direction: column;
}
#hh_hentai .QuickHarem.game-extension {
  background-color: rgb(69, 33, 41);
}
#hh_comix .QuickHarem.game-extension {
  background-color: rgb(15, 30, 60);
}

/** < 600px height, use all available space */
@media only screen and (max-height: 600px) {
  .QuickHarem.game-extension {
    height: 95%;
    margin: auto;
  }
}

.QuickHarem.game-extension.hidden {
  visibility: hidden;
}

.game-extension * {
  /** Override the general style rule from the game, that uses a global bottom v-align */
  vertical-align: auto;
  box-sizing: initial;
}

.harem-popup-error {
  position: relative;
}

.harem-popup-error > .close-popup {
  position: absolute;
  right: 1rem;
  top: 0;
}
