.qh-girls-equipment {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 0.4rem;
  column-gap: 0.8rem;
}

img.girls-equipment-icon,
button.item-action {
  border: var(--border-width) solid white;
  border-radius: 8px;

  height: calc(var(--image-size) / 2);
  width: calc(var(--image-size) / 2);

  cursor: pointer;
}

button.unequip-one-decorator:disabled,
button.item-action:disabled {
  cursor: default;
  filter: grayscale(1);
}

.App button.item-action,
#popup-root button.item-action {
  padding: 0px;
}

button.item-action {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  border-color: lightgrey;
}

.girl-item-icon-wrapper {
  position: relative;
}

button.item-action.unequip-one {
  height: calc(var(--image-size) / 5);
  width: calc(var(--image-size) / 5);
  border-radius: 0px;
  border: none;
  position: absolute;
  right: max(5px, calc(var(--image-size) / 20));
  top: max(5px, calc(var(--image-size) / 20));
  background-image: url(https://hh.hh-content.com/clubs/ic_xCross.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
}

button.equip-all {
  background-image: url(https://hh.hh-content.com/pictures/design/equip_all_icon.png);
}

button.unequip-all {
  background-image: url(https://hh.hh-content.com/clubs/ic_xCross.png);
}

button.open-inventory {
  background-image: url(https://hh2.hh-content.com//design/resource_backpack.png);
  background-size: 75% 75%;
  background-origin: content-box;
}

button.item-action {
  background-color: #662034;
}

.rarity-bg.none {
  background-color: #662034;
}

.equipment-decorators {
  display: flex;
  flex-direction: row;
  column-gap: 3px;
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
}

.equipment-decorator {
  --item-rarity-color: white;
  width: 0.3em;
  height: 0.5em;
  border: 1px solid black;
  position: relative;
  background-color: rgba(50, 50, 50, 0.8);
}

.equipment-decorator.level0 {
  border: 1px solid black;
}

.equipment-decorator.level10 {
  border: 1px solid var(--item-rarity-color);
}

.equipment-decorator.mythic {
  --item-rarity-color: var(--var-color-mythic);
}
.equipment-decorator.legendary {
  --item-rarity-color: var(--var-color-legendary);
}
.equipment-decorator.epic {
  --item-rarity-color: var(--var-color-epic);
}
.equipment-decorator.rare {
  --item-rarity-color: var(--var-color-rare);
}
.equipment-decorator.common {
  --item-rarity-color: var(--var-color-common);
}

.equipment-decorator > .track {
  position: absolute;
  bottom: 0;
  background-color: var(--item-rarity-color);
  width: 100%;
  /** Height defined in react based on level */
}

.qh-equipment-tooltip {
  --rarity-background: transparent;
  /* border: 1px solid var(--rarity-background); */
  /* border-radius: 8px; */
  /* background-color: rgba(20, 20, 20, 0.8); */
  /* display: inline-block; */
  padding-bottom: 1rem;
}

.qh-equipment-tooltip.mythic {
  --rarity-background: var(--var-color-mythic);
}

.qh-equipment-tooltip.legendary {
  --rarity-background: var(--var-color-legendary);
}

.qh-equipment-tooltip.epic {
  --rarity-background: var(--var-color-epic);
}

.qh-equipment-tooltip.rare {
  --rarity-background: var(--var-color-rare);
}

.qh-equipment-tooltip.common {
  --rarity-background: var(--var-color-common);
}

.qh-equipment-tooltip > h2 {
  /* background-color: var(--rarity-background); */
  margin-bottom: 0.5em;
  padding: 0.25em;
  font-size: 1.25em;
}

.qh-equipment-stats,
.qh-equipment-resonance {
  display: flex;
  flex-direction: column;
  row-gap: 0.25em;
  padding-left: 2rem;
}

.qh-equipment-stats > span,
.qh-equipment-resonance > span {
  display: flex;
  flex-direction: row;
  column-gap: 1em;
  align-items: center;
  justify-content: left;
}

.qh-equipment-stats > span > .stat-icon,
.qh-equipment-stats > span > .attack-icon,
.qh-equipment-stats > span > .defense-icon,
.qh-equipment-stats > span > .ego-icon,
.qh-equipment-resonance > span > .stat-icon,
.qh-equipment-resonance > span > .attack-icon,
.qh-equipment-resonance > span > .defense-icon,
.qh-equipment-resonance > span > .element,
.qh-equipment-resonance > span > .ego-icon,
.qh-equipment-resonance > span > .pose-icon {
  height: 2em;
  width: 2em;
}

.active-resonance {
  color: green;
}

.inactive-resonance,
.disabled-resonance {
  color: lightgrey;
}

.disabled-resonance > .stat-icon,
.disabled-resonance > .element,
.disabled-resonance > .pose-icon {
  filter: grayscale(1);
}

.stats-diff.positive {
  color: green;
}

.stats-diff.negative {
  color: red;
}

.item-level-decorator {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 3px;
  left: 3px;
  background-color: #b14;
  border: min(2px, var(--border-width)) solid #f70;
  border-radius: 100%;
  width: 30%;
  height: 30%;
  font-size: 0.7em;
  text-align: center;
  line-height: 100%;
  pointer-events: none;
}
