:root {
  /*
   * Variable properties
   */
  --border-width: 1px;
  --image-size: 55px;
}

.tile,
.girlTile {
  position: relative;
  user-select: none;
  display: inline-block;
  text-align: center;
}

/** 1281 to 1920 */
@media only screen and (min-width: 1281px) and (min-height: 721px) {
  :root {
    --border-width: 2px;
    --image-size: 75px;
  }
}

/** 1921 to 2560 */
@media only screen and (min-width: 1921px) and (min-height: 901px) {
  :root {
    --border-width: 3px;
    --image-size: 120px;
  }
}

/** 2561 to >>> */
@media only screen and (min-width: 2561px) and (min-height: 1201px) {
  :root {
    --border-width: 4px;
    --image-size: 145px;
  }
}

.girlTile > .avatar-area > .lazyload-wrapper > .tile-avatar {
  /** Avoid interference with vertical align rule from the main game CSS */
  vertical-align: middle;
}

.girlTile > .avatar-area {
  position: relative;
  padding: 5px 10px 0px 10px;
}

.tile-avatar {
  border: var(--border-width) solid white;
  width: var(--image-size);
  height: var(--image-size);
  border-radius: 8px;
  overflow: hidden; /* If the alt text is too long, just truncate it */
  display: block;
}

.girlTile > .grade {
  margin-top: 15%; /* Offset the element icon */
  margin-bottom: 3%;
  height: 1em;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: center;
}

.grade > .star {
  width: 16%;
  margin-inline: -1.8%;
  background-size: contain;
  background-repeat: no-repeat;
}
.star.empty {
  background-image: url(https://hh.hh-content.com/design_v2/affstar_empty_S.png);
}
.star.solid {
  background-image: url(https://hh.hh-content.com/design_v2/affstar_S.png);
}
.star.solid.current {
  filter: drop-shadow(0px 0px 3px orange);
}

.avatar-area > .element {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%);

  width: 30%;
  height: 30%;
}

.qh_shards {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;

  background-image: url(https://hh2.hh-content.com/shards.png);
  background-position: left;
  padding-left: 36px;
  background-repeat: no-repeat;
  background-size: 40px 40px;

  color: #80058b;
  text-shadow: 1px 1px 0 #fff, -1px 1px 0 #fff, -1px -1px 0 #fff,
    1px -1px 0 #fff;
  font-weight: bold;
}

.qh_shards > img {
  width: 40px;
  height: 40px;
}

.girlTile > .avatar-area > .lazyload-wrapper > .tile-avatar {
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 0 5px 1px rgba(52, 0, 15, 0.75),
    inset 0 0 8px rgba(55, 30, 103, 0.4);
}

.girlTile.starting > .avatar-area > .lazyload-wrapper > .tile-avatar,
.girlTile.common > .avatar-area > .lazyload-wrapper > .tile-avatar {
  background-color: #8d8e9f;
}

.girlTile.rare > .avatar-area > .lazyload-wrapper > .tile-avatar {
  background-color: #23b56b;
}

.girlTile.epic > .avatar-area > .lazyload-wrapper > .tile-avatar {
  background-color: #ffb244;
}

.girlTile.legendary > .avatar-area > .lazyload-wrapper > .tile-avatar {
  background-image: url(https://hh2.hh-content.com/legendary.png);
  background-color: #8e36a9;
}

.girlTile.mythic > .avatar-area > .lazyload-wrapper > .tile-avatar {
  background-image: radial-gradient(
    closest-side at 50% 50%,
    #f5a866 0,
    #ec0039 51%,
    #9e0e27 100%
  );
  background-color: #ec0039;
}

.girlTile > .avatar-area > .soft_currency {
  position: absolute;
  width: 2em;
  height: 2em;
  bottom: -10px;
  left: -5px;
  visibility: hidden;
}

.girlTile.salary > .avatar-area > .soft_currency {
  visibility: inherit;
}

.girlTile > .upgrade-girl {
  position: absolute;

  top: 35%;
  transform: translate(30%, -50%);
  right: 0;

  z-index: 1;

  width: 2.5em;
  height: 2.5em;
}

.girlTile {
  border-radius: 10px;
}

.girlTile.not-owned > .avatar-area > .lazyload-wrapper {
  opacity: 0.5;
}

.girlTile:hover {
  background-color: pink;
}

.girlTile.selected {
  background-color: #61dafb;
}

@media screen and (max-width: 1199px) {
  .girlTile > .avatar-area {
    padding: 0.3em 0.5em 0px 0.5em;
  }
}

@media screen and (max-width: 960px) {
  .girlTile > .girl-header {
    position: absolute;
    top: calc(var(--border-width) + 4px);
    left: 50%;
    z-index: 1;
    transform: translateX(-50%);
    text-shadow: 1px 1px 0 #000, -1px 1px 0 #000, -1px -1px 0 #000,
      1px -1px 0 #000;
    font-size: 0.8em;
  }

  .girlTile > .avatar-area > .equipment-decorators {
    top: 18px;
  }
}
