/** Main popup layout */

.qh-harem {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1.2fr 0.8fr 1fr;
  column-gap: 5px;

  grid-auto-rows: minmax(auto, max-content);
}

/**
 *  On small screens, give more space to 
 *  stats/description
 */
@media only screen and (max-width: 1000px) {
  .qh-harem {
    grid-template-columns: 1.6fr 0.6fr 1.4fr;
  }
}

.qh-harem > * {
  min-height: 0;
  min-width: 0;

  /** Global left, right and bottom margins */
  margin-bottom: 1em;
  padding: 0px 1em 0px 1em;
}

.qh-harem > .harem-toolbar {
  grid-column: 1 / 4;
  grid-row: 1;

  /** Top, left and right margin */
  padding: 10px 15px 0px 15px;
}

.qh-harem > .girlsList {
  grid-column: 1 /2;
  grid-row: 2;
}

.qh-harem > .pose {
  grid-column: 2;
  grid-row: 2;
}

.qh-harem > .details {
  grid-column: 3;
  grid-row: 2;
}

/** Toolbar */

.harem-toolbar {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  align-content: center;
  margin-bottom: 8px;
  flex-wrap: wrap;
  column-gap: 15px;
}

.harem-toolbar > .break {
  flex-basis: 100%;
  height: 0;
}

/** Toolbar: Quick search */

.quick-search > input.hh-text-input {
  background-image: url(https://hh2.hh-content.com/pictures/design/form/search_field_L.png);
  background-position: 100% 50%;
  background-repeat: no-repeat;
  background-size: 2.5em;

  width: 18em;

  font-size: 0.8em;
}

.toolbar-content > .hh-action-button,
.harem-toolbar > .hh-action-button {
  height: 1.5em;
  min-width: 1.5em;
}

.harem-toolbar > .icon-action {
  padding: 0.3em;
}

.toggle0pose {
  margin-left: 4em;

  display: flex;
  flex-direction: row;
  gap: 0.5ch;
  align-items: center;
  font-size: 0.8em;
}

.qh-menu-toggle {
  margin-right: 2em;
}

.toolbar-content > .hh-action-button.clear-filters {
  width: 10em;
  padding: 5px;
}

.harem-toolbar > .owned-gems-summary > .gems-count > .elementIcon {
  width: 2em;
  height: 2em;
}

.scenes-browser {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: middle;
}

.scenes-browser img {
  /** Normalize width. Icons have a different top/bottom border and would look inconsistent with a height attribute */
  width: 2em;
  /** Avoid interference with vertical align rule from the main game CSS */
  vertical-align: middle;
}

.harem-toolbar > .refresh {
  margin-right: clamp(
    1rem,
    calc(5vw - 3rem),
    2.5rem
  ); /* Add a bit of space before the X button */
}

.harem-toolbar > .refresh[disabled] {
  animation: refresh-blink-animation 0.75s ease-in-out infinite alternate;
}

.hh-action-button.filter-sort-icon {
  background: center / contain content-box no-repeat
      url(https://hh2.hh-content.com/design_v2/search_open.png),
    linear-gradient(
      to bottom,
      rgba(60, 60, 60, 0.7) 0,
      rgba(10, 10, 10, 0.9) 100%
    );
}

.harem-toolbar > .spacer {
  margin-left: auto; /* Push to the end of the toolbar */
}

.harem-toolbar > .filter-sort-icon.closed {
  /**
  Flip the image vertically when the sort panel is closed,
  so the arrow points to the right direction
  */
  transform: scaleX(-1);
}

.harem-toolbar > .filter-sort-icon.closed > .react-tooltip {
  /** 
  Un-apply the mirror transformation on the tooltip itself; 
  it should only affect the button icon (otherwise we get mirrored text)
  */
  transform: scaleX(-1);
}

@keyframes refresh-blink-animation {
  from {
    filter: grayscale(100%);
  }
  to {
    filter: grayscale(50%);
  }
}

.variations-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.missing-gems {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5ch;
}

.girlsList {
  overflow: auto;
  scroll-behavior: smooth;
  padding-left: 10px;
  padding-right: 8px;
}

.girlsList > .owned {
  margin-bottom: 15px;
}

.girlsList > div {
  display: flex;
  column-gap: 5px;
  row-gap: 5px;
  flex-wrap: wrap;
}

@media only screen and (max-width: 860px) {
  .girlsList > div {
    column-gap: 0px;
  }
}

.pose {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
  padding-bottom: 3%;
}

.pose > img {
  /** Auto size the image in the available space. */
  flex: 1 1 0;
  min-height: 0;
}

.pose-switcher {
  display: flex;
  flex-direction: row;
  gap: 1.5ch;
  margin-top: 3%;
}

.pose-switcher > .pose-selector {
  border: 3px solid white;
  background-color: #1f2958;
  width: 1.5em;
  height: 1.5em;
  transform: rotate(45deg);
}

@media only screen and (max-width: 1000px) {
  .pose-switcher {
    gap: 1ch;
  }
  .pose-switcher > .pose-selector {
    border: 1px solid white;
    width: 0.8em;
    height: 0.8em;
  }
}

.pose-switcher > .pose-selector.solid {
  cursor: pointer;
}

.pose-switcher > .pose-selector.solid.current {
  background: radial-gradient(yellow, darkorange);
  box-shadow: 0px 0px 7px darkorange;
  cursor: initial;
}

.pose-switcher > .pose-selector.empty {
  background-color: grey;
}

/*
*   Description/Stats/Details Area 
*/

.details {
  display: flex;
  flex-direction: column;
}

.bio {
  text-align: justify;
}

.blessed {
  color: green;
}

.icon-link {
  display: flex;
  flex-direction: row;
  column-gap: 0.5em;
  align-items: center;
}

.icon-link > img,
.icon-link > .qh-tooltip-wrapper > img {
  height: 1.5em;
}

/**
 *  Add upgrade page in a slider panel
 */

.harem-upgrade-panel {
  /** Appearance */
  opacity: 98%;
  background-color: rgb(69, 33, 41);
  border: 1px solid black;
  border-radius: 15px;
  box-shadow: 0px 0px 7px black;
  padding: 15px;

  /** Layout */
  display: flex;
  flex-direction: column;
  justify-content: stretch;

  /** Size */
  box-sizing: border-box;
  width: calc(100vw - 1rem - 30px);
  height: calc(100vh - 1rem - 30px);

  /* Position */
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  margin: 0px;
  z-index: 2;

  /* transition: transform 0.5s ease-in, visibility 0.5s ease-in; */
}

/** Anchor the panel to the right on larger devices */
@media screen and (min-width: 901px) and (min-height: 741px) {
  .harem-upgrade-panel {
    /** Size */
    height: 80vh;
    width: 30vw;

    /** Position */
    bottom: 0.5rem;
    right: 2rem;
  }
}

/** At the moment, the panel is not rendered at all when hidden,
 to force reloading content each time we reopen it. */
/* .harem-upgrade-panel.hidden {
  transform: translateY(105%);
  visibility: hidden;
} */

.lore > p > .soft_currency {
  display: inline-block;
}

.missing-gems-details,
.missing-aff-details,
.missing-gxp-details {
  display: grid;
  column-gap: 0.5em;
}

.missing-aff-details,
.missing-gxp-details {
  grid-template-columns: repeat(2, auto);
}

.missing-gems-details {
  grid-template-columns: repeat(3, auto);
}

.missing-gems-details > .row-separator,
.missing-aff-details > .row-separator,
.missing-gxp-details > .row-separator {
  grid-column-start: 1;
  grid-column-end: -1;
  margin-block: 0.5rem;
  border-bottom: 1px solid goldenrod;
}

.missing-gems-details > .gems-count,
.missing-aff-details > .missing-affection,
.missing-gxp-details > .missing-gxp {
  text-align: right;
}

.qh-harem.edit-teams > .pose {
  display: none;
}

@media screen and (max-width: 1199px) {
  .qh-harem.edit-teams > .details {
    display: none;
  }

  .qh-harem.edit-teams > .teams-section {
    grid-column: 2 / 4;
  }
}

.hide-tooltips > #harem-tooltip {
  display: none;
}
