.qh-panel {
  /** Appearance */
  opacity: 98%;
  background-color: rgb(69, 33, 41);
  border: 1px solid black;
  border-radius: 15px;
  box-shadow: 0px 0px 7px black;
  padding: 15px;

  /** Size */
  height: 80%;
  min-width: 35%;

  /** Position */
  position: absolute;
  right: 45px;
  top: 50%;
  padding: 15px 30px;
  transition: transform 0.5s ease-in, visibility 0.5s ease-in;
  z-index: 2;
}

.qh-panel.visible {
  transform: translateY(-50%);
  visibility: visible;
  display: initial;
}

.qh-panel.hidden,
.qh-panel.summary.hidden {
  transform: translateY(-50%) translateX(105%);
  visibility: hidden;
  display: initial;
}

.qh-panel.summary {
  width: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.summary-content {
  width: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.game-extension.hidden > .qh-panel {
  /* 
  * Ensure we don't override visibility behavior from the parent
  * when the parent is hidden, but the panel is still visible.
  * Both must be hidden immediately.
  */
  visibility: inherit;
  transition: none;
}

.qh-panel > .close-popup {
  position: absolute;
  top: 15px;
  right: 65px;
}

.qh-panel.filters,
.qh-panel.sort {
  display: flex;
  flex-direction: column;
}

.qh-panel.filters > .filters-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  margin-top: 10px;

  overflow-y: auto;
  overflow-x: clip;
}

.filter-entry {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.filter-entry > .filter-label {
  min-width: 14ch;
  display: inline-block;
  text-align: left;
}

.filter-entry button.toggle {
  min-width: 10ch;
}

.filter-entry.rarity > button.toggle {
  /** Use more compact buttons for Rarity, as we have many of them */
  min-width: initial;
  padding-left: 8px;
  padding-right: 8px;
}

.qh-filter-status {
  width: 30px;
  height: 30px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  margin-right: 5px;
}

.qh-filter-status.active {
  background-image: url(https://hh2.hh-content.com/design/green_tick.png);
}

.qh-filter-status.ready {
  background-image: url(https://hh2.hh-content.com/design/green_tick_empty.png);
}

.qh-filter-status.invalid {
  background-image: url(https://hh2.hh-content.com/clubs/ic_xCross.png);
  cursor: initial;
}

.manage-filters {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
}

.sort-list > button.hh-action-button.active {
  background: linear-gradient(to bottom, #ffa23e 0, #c41b53 100%);
}

.sort-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  overflow: auto;
}

.sort-list > * {
  min-width: 30%;
}

.toggle-filter.Element {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0.5ch;
}

.element-blessing {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0.5ch;
}

.element-blessing > .element {
  display: inline;
}
