.qh-panel > .panel > h2 {
  font-size: 1.5em;
}

.qh-panel > .panel > p {
  margin: 8px;
}

.panel.summary {
  display: flex;
  align-items: center;
  min-width: 80vw;
  flex-direction: column;
}

.summary-content {
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  align-self: stretch;
}

.game-extension.hidden > .qh-panel {
  /* 
  * Ensure we don't override visibility behavior from the parent
  * when the parent is hidden, but the panel is still visible.
  * Both must be hidden immediately.
  */
  visibility: inherit;
  transition: none;
}

.qh-panel {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}

.qh-panel > .panel > .close-popup {
  position: absolute;
  top: 15px;
  right: 65px;
}

.panel.filters,
.panel.sort {
  display: flex;
  flex-direction: column;
}

.panel.filters > .filters-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  margin-top: 10px;

  overflow-y: auto;
  overflow-x: clip;
}

.filter-entry {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.filter-entry > .filter-label {
  min-width: 14ch;
  display: inline-block;
  text-align: left;
}

.filter-entry button.toggle {
  min-width: 10ch;
}

.filter-entry.rarity > button.toggle,
.filter-entry.power > button.toggle {
  /** Use more compact buttons for Rarity and Potential power, as we have many of them */
  min-width: initial;
  padding-left: 8px;
  padding-right: 8px;
}

.qh-filter-status {
  width: 30px;
  height: 30px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  margin-right: 5px;
}

.qh-filter-status.active {
  background-image: url(https://hh2.hh-content.com/design/green_tick.png);
}

.qh-filter-status.ready {
  background-image: url(https://hh2.hh-content.com/design/green_tick_empty.png);
}

.qh-filter-status.invalid {
  background-image: url(https://hh2.hh-content.com/clubs/ic_xCross.png);
  cursor: initial;
}

.manage-filters {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
}

.sort-list > button.hh-action-button.active {
  background: linear-gradient(to bottom, #ffa23e 0, #c41b53 100%);
}

.sort-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  overflow: auto;
}

.sort-list > * {
  min-width: 30%;
}

.toggle-filter.Element {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0.5ch;
}

.element-blessing {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0.5ch;
}

.element-blessing > .element {
  display: inline;
}

/** Summary */

.resources-summary {
  width: 100%;
}

.gems-summary {
  width: 100%;
  display: inline-grid;
  justify-items: left;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 15ch);
  column-gap: 2em;
}

/**
 * For larger screens, limit to 4 columns
 */
@media screen and (min-width: 900px) {
  .gems-summary {
    grid-template-columns: repeat(4, 15ch);
  }
}

.gems-summary > * {
  display: flex;
  flex-direction: row;
  column-gap: 0.8em;
  align-items: center;
}
