/**
 *  Tab Folder Labels (Component is currently not used)
 */

.tab-folder {
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  z-index: 3;
}

.tab-folder > .tab {
  border: 1px solid white;
  border-right: none;
  border-radius: 5px;
  min-height: 115px;
  min-width: 1.5em;
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: black;
}

.tab-folder > .tab.active {
  background-color: deepskyblue;
}

.tab-folder > .tab > .tab-label {
  writing-mode: vertical-rl;
  user-select: none;
}

/**
 *  Sliding panel
 */

.qh-panel {
  /** Appearance */
  opacity: 98%;
  border: 1px solid black;
  border-radius: 15px;
  box-shadow: 0px 0px 7px black;
  padding: 15px;

  /** Size */
  height: 80%;
  min-width: 35%;
  max-width: calc(100vw - 2em);

  /** Position */
  position: absolute;
  right: 1em;
  top: 50%;
  padding: 15px 30px;
  transition:
    transform 0.25s ease-in,
    visibility 0.25s ease-in;
  z-index: 2;
}
#hh_hentai .qh-panel {
  background-color: rgb(69, 33, 41);
}
#hh_comix .qh-panel {
  background-color: rgb(15, 30, 60);
}
#hh_star .qh-panel {
  background-color: rgb(120, 30, 75);
}

@media screen and (max-height: 500px) {
  .qh-panel {
    height: 95%;
  }
}

.QuickHarem.game-extension > .qh-panel {
  box-sizing: border-box;
}

.qh-panel.visible {
  transform: translateY(-50%);
  visibility: visible;
}

.qh-panel.hidden {
  transform: translateY(-50%) translateX(105%);
  visibility: hidden;
}

.qh-panel > .panel {
  overflow: auto;
}

.qh-panel > .panel.hidden {
  display: none;
}

.qh-panel > .panel-tab-folder {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  column-gap: 1em;
}

.panel-tab-folder > .tab {
  cursor: pointer;
  color: #d08467;
  text-shadow:
    1px 1px 0 #000,
    -1px 1px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000;
}

.panel-tab-folder > .tab.active {
  color: #ffb827;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000,
    -2px -2px 5px rgba(255, 159, 0, 0.4),
    2px -2px 5px rgba(255, 159, 0, 0.4),
    -2px 2px 5px rgba(255, 159, 0, 0.4),
    2px 2px 5px rgba(255, 159, 0, 0.4),
    0 0 10px rgba(255, 159, 0, 0.4);
}
