.harem-upgrade {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 0.3em;
  position: relative;
}

.harem-upgrade > .close-popup {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

.harem-upgrade > .items-and-actions {
  min-height: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.qh-inventory {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  min-height: 1rem;
}

.qh-inventory > h3 {
  margin: 0px;
  padding: 0px;
}

.upgrade-items-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 0.5rem;
  row-gap: 0.2em;
  overflow: auto;
  justify-content: center;
}

.itemTile {
  position: relative;
}

.itemTile > .item-count {
  /** TODO: Insert an intermediate div to account for padding. Makes it easier to align with image */
  position: absolute;
  bottom: 8px;
  left: 10px;
  min-width: 1em;
  background-color: #3c1f24;
  padding: 0 0.2em;
  border-radius: 3px 3px 3px 3px;
}

.harem-upgrade-actions {
  display: flex;
  flex-direction: row;
  column-gap: 2em;
}

.harem-upgrade-actions > .hh-action-button {
  padding: 0.4em 0.8em;
  font-size: 1.2em;
}

.harem-upgrade-actions > .spacer {
  margin-left: auto;
}

.harem-upgrade-pages {
  display: flex;
  flex-direction: row;
  column-gap: 2em;
  justify-content: center;
}

.harem-upgrade-pages > * {
  cursor: pointer;
  color: #d08467;
  text-shadow: 1px 1px 0 #000, -1px 1px 0 #000, -1px -1px 0 #000,
    1px -1px 0 #000;
  font-size: 1.3em;
}

.harem-upgrade-pages > .active {
  cursor: initial;
  color: #ffb827;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000, -2px -2px 5px rgba(255, 159, 0, 0.4),
    2px -2px 5px rgba(255, 159, 0, 0.4), -2px 2px 5px rgba(255, 159, 0, 0.4),
    2px 2px 5px rgba(255, 159, 0, 0.4), 0 0 10px rgba(255, 159, 0, 0.4);
}

.girls-selector {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 1rem;
  row-gap: 0.5em;
}

.girls-selector > .girl-rank {
  flex-basis: 100%;
}

.girls-selector .previous-girl,
.girls-selector .next-girl {
  opacity: 0.6;
}

.xp-status,
.aff-status {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 0.5rem;
  justify-content: center;
  align-items: center;
  font-size: 0.9em;
  column-gap: 1rem;
  min-height: 4rem;
  border-block: 1px solid white;
}
.xp-status .progress-bar,
.aff-status .progress-bar {
  font-size: 0.9em;
}

.xp-status .gems-awakening {
  min-width: 14rem; /* Same size as progress bar, to get more consistent layout */
}

.xp-status > span {
  display: flex;
  flex-direction: column;
}

@media screen and (max-height: 500px) {
  .harem-upgrade {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
  }
}

.popup-overlay {
  background-color: rgba(0, 0, 0, 0.5);
}

.qh-popup {
  background-color: rgba(32, 3, 7, 0.95);
  width: 40vw;
  height: 50vh;
  border-radius: 15px;
  box-shadow: 0px 0px 7px black;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border: 2px solid #905312;
}

@media screen and (max-width: 1920px) {
  .qh-popup {
    width: 70vw;
    height: 70vh;
  }
}

@media screen and (max-width: 1280px) {
  .qh-popup {
    width: 95vw;
    height: 95vh;
  }
}

.qh-popup > .close-popup {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
}

.awaken-summary {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.3em;
}

.hh-action-button.awaken {
  background-image: url('https://hh2.hh-content.com/design/ic_gem.svg');
  padding: 0.2em;
  background-size: contain;
  background-origin: content-box;
  background-repeat: no-repeat;
  width: 2em;
  height: 2em;
}

.awakening-popup {
  display: flex;
  flex-direction: column;
}

.awakening-popup-content {
  display: grid;
  grid-template-columns: 0.5fr 0.7fr;
  flex-shrink: 1;
  min-height: 0;
  overflow: auto;
  font-size: 1.5em;
}

.awakening-popup-content > .pose {
  display: flex;
  min-height: 0;
  min-width: 0;
}

.hh-action-button.do-awaken {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 2rem;
}

.hh-action-button.do-awaken > .gems-cost {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.awakening-details {
  display: flex;
  flex-direction: column;
  gap: 2em;
  align-items: flex-start;
}

.awakening-details > h2 {
  font-size: 2em;
  color: #ffb827;
}

.awakening-description {
  display: flex;
  flex-direction: row;
}

.awakening-details .girl-name {
  color: #ffb827;
}

.chevron-right {
  background-image: url(https://hh2.hh-content.com/clubs/ic_FilterBtnUP.png);
  background-size: contain;
  background-position: center;
  background-origin: content-box;
  align-self: center;
  background-repeat: no-repeat;
  transform: rotate(90deg);
  width: 1.5em;
  height: 1.5em;
}
